/* 폰트 */
@font-face {
    font-family: 'NanumSquareR';
    src: url('../font/NanumSquareR.woff');
}

@font-face {
    font-family: 'NanumSquareB';
    font-weight: 800;
    src: url('../font/NanumSquareB.woff');
}

div, input, textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
/* 로고 */
.logo {
    color: indianred;
    width: 100px;
    align-items: center;
    padding:10px;
    text-align: center;
    cursor: pointer;
}
/* 메인 배너 */
.main-background {
    width: 100%;
    height: 500px;
    background-image: url('../img/shoes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(70%);
    padding: 1px;
    position: relative;
}
/* 메인 배너 타이틀 */
.main-title {
    color: white;
    font-size: 40px;
    margin-top: 150px;
    text-align: center;
}
/* 메인 배너 텍스트 */
.main-content {
    width: 60%;
    color: white;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
/* 메인 배너 더보기 버튼 */
.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    z-index: 1;
}
/* 배너에 겹치는 텍스트 박스 */
.overlap-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
}

/* contact 폼 */
.form-background {
    background-color: black;
    padding: 30px;
}


/* contact 폼 박스 */
.form-box {
    background-color: white;
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 600px;
}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
}

textarea {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    display: block;
}

/* contact 체크박스 */
input[type=checkbox] {
    display: inline-block;
    width: 15px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}
.w-100 {
    width: 100%;
    padding: 10px;
}

/* SEND, subscribe */
.bottom-box {
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.message-box {
    width: 100%;
    padding: 10px;
}

/* 인푹 박스 공통 */
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

/* SEND 버튼 */
.send-button {
    padding: 10px;
    display: block;
    margin-left: auto;
    border: none;
    background-color: indianred;
    border-radius: 10px;
    color: white
}

/* window에서 글씨 더 부드럽게 보이는 방법 */
p, h4, h3, h2, h1, span {
    transform: rotate(0.03);
}

/* 상단 메뉴 */
.flex-continer {
    display: flex;
    height: 100px;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

/* 상단 메뉴(login, join) */
.flex-item {
    width: 100px;
    align-items: center;
    padding:10px;
    text-align: center;
    cursor: pointer;
}

.flex-item:hover {
    background-color: pink;
}

.flex-iteme:active {
    background-color: grey;
}

/* 상단 메뉴 중간 빈 공간 */
.empty-item {
    flex-grow: 1;
}

.test {
    width: 100vw;
    height: 50vh;
    background: grey;
}

.nav-container {
    display: flex;
    padding: 10px;
    margin: 10px;
}
/* 중간 아이콘 배너 */
.product-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
/* 중간 아이콘 배너 div */
.product-container div {
    float: left;
    width: 25%;
}
/* 중간 아이콘 배경 동그라미 */
.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}
/* 상품 배경 */
.shop-bg {
    background-color: #eee;
    padding: 20px;
}
/* 상품 전체 박스 */
.shop-container {
    display: flex;
    max-width: 800px;
    width: 90%;
    margin: auto;
}
/* 상품 단일 박스 */
.shop-item {
    width: 33%;
    padding: 10px;
}
/* 상품 이미지 */
.shop-item img {
    width: 100%;
    display: block;
}

/* 마우스 hover 전 */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
}
/* 마우스 hover 변경 내용 */
.overlay:hover {
    opacity: 1;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 마우스 hover 후 */
.overlay-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100%;
    transition: all 1s;
}

.overlay-wrap:hover .overlay-black{
    margin-top: 50%;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
    .product-container div{
        width: 50%;
    }
    .product-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }
    .product-container div{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .main-title {
        font-size: 15px;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
    }
}