body {
    margin: 0;
}
div {
    box-sizing: border-box;
}

/* 메인 배너 배경 */
.main-banner {
    width: 100%;
    height: 550px;
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    padding: 1px;
    position: relative;
}
.main-banner-content {
    position: absolute;
    width: 30%;
    padding: 50px;
}
/* 메인 배너 이미지 */
.main-iphone {
    width: 400px;
    float: right;
    margin-top: 95px;
  }
/* 중간 텍스트 */
.middle-content {
    width: 80%;
    height: 300px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 100px;
    text-align: center;
    vertical-align: middle;
}
/* 중간 아이콘 배너 */
.offer-content {
    width: 100%;
    height:300px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: mediumaquamarine;
    text-align: center;
    padding: 30px
}
/* 하단 배너 */
.icon-content {
    width: 25%;
    height: 300px;
    float: left;
    padding: 20px;
    text-align: center;
}
/* 하단 배너 아이콘 */
.icon-content i {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: mediumaquamarine;
}
/* 하단 배너 텍스트 */
.copy-content {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 200px;
    vertical-align: middle;
    margin-top: 100px;
}
/* 하단 배너 전체 박스 */
.square-content {
    margin: auto;
    left: 0;
    height: 600px;
    right: 0;
    width: 80%;
}
/* 하단 배너 단일 요소 */
.square-item {
    width: 50%;
    height: 50%;
    float: left;
    color: white;
    padding-left: 20px;
}

.square-item p {
    width: 70%;
}
/* 하단 배너 이미지 */
.one {
    background-image: url('../img/portfolio-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.two {
    background-image: url('../img/portfolio-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.three {
    background-image: url('../img/portfolio-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.four {
    background-image: url('../img/portfolio-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

/* 소셜 박스 */
.social-content {
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 100px;
    height: 300px;
    padding: 30px;
    text-align: center;
}
/* 소셜 아이콘 */
.social-content i {
    text-align: center;
    padding: 30px;
}
/* 더보기(more) 버튼 */
.btn-more {
    background-color: #eee;
    border: none;
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}
/* 상단 더보기(more) 버튼 포지션 */
.btn-banner {
    position: absolute;
}

.btn-more:hover {
    background-color: pink;
}

.btn-more:active {
    background-color: grey;
}
/* 반응형 */
@media screen and (max-width : 992px) {
    .main-iphone {
      width: 260px;
      display: block;
      float: none;
      margin: auto;
      margin-top: 42px;
    }
    .main-banner-content p {
      float: none;
      margin-top: 50px;
      text-align: center;
    }
  }